<h2>Language aliases</h2>

<%= for language <- @aliases do %>
  <h3><%= language.name %></h3>

  <%= if Enum.count(language.aliases) > 0 do %>
    <p>Aliases:</p>

    <ul>
      <%= for alias <- language.aliases do %>
        <li><%= alias.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No aliases.</p>
  <% end %>
<% end %>
