<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= get_conf(:site_name) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="row">
          <div class="col-xs-2">
            <a class="logo" href="<%= page_path(@conn, :index) %>"><img src="/images/Logo_crushed.png" alt="<%= get_conf(:site_name) %>" title="<%= get_conf(:site_name) %>" height="100%" /></a>
          </div>

          <div class="col-xs-10">
            <nav role="navigation">
              <ul class="nav nav-pills pull-right">
                <%= if is_authed?(@conn) do %>
                  <li><a href="<%= profile_path(@conn, :my_profile) %>">Profile</a></li>
                  <li><a href="<%= preferences_path(@conn, :edit) %>">Preferences</a></li>
                  <li><a href="<%= machine_path(@conn, :list) %>">Machines</a></li>
                  <li><a href="<%= auth_path(@conn, :logout) %>">Log out</a></li>
                <% else %>
                  <li><a href="<%= auth_path(@conn, :render_login) %>">Log in</a></li>
                  <li><a href="<%= auth_path(@conn, :render_signup) %>">Sign up</a></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <hr />

        <p>
          <center>
            <a href="<%= page_path(@conn, :changes)%>"><%= unquote(Mix.Project.config[:version]) %></a>
            —
            <%= CodeStats.RequestTime.calculate_time(@conn) %>
            —
            <a href="<%= page_path(@conn, :api_docs) %>">API docs</a>
            —
            <a href="<%= page_path(@conn, :terms) %>">Legal</a>
            —
            <a href="<%= page_path(@conn, :plugins) %>">Plugins</a>
          </center>
        </p>

        <p>
          <center>
            <small>
              <%= get_conf(:site_name) %> development sponsored by <a href="https://www.vincit.fi/en/">Vincit Oy</a>, the passionate software company.
            </small>
          </center>
        </p>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= raw get_conf(:analytics_code) %>
  </body>
</html>
