$image-size: 120px;
$gap: 20px;

.plugin-icon-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
  text-align: center;

  @media #{$sm} {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media #{$md} {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  picture, img {
    max-width: $image-size;
  }
}

.plugin {
  margin: 40px 0;

  display: grid;
  grid: 'title'
        'img'
        'desc'
        / 1fr;

  @media #{$sm} {
    grid: 'img title'
          'img desc '
          / $image-size auto;

    grid-column-gap: $gap;

    &:nth-child(2n+1) {
      grid: 'title img'
            'desc  img'
            / auto $image-size;
      grid-column-gap: $gap;

      // Except code
      pre {
        text-align: left;
      }
    }
  }

  >h2 {
    grid-area: title;
    margin-top: 0;
  }

  .plugin-description {
    grid-area: desc;
  }

  .plugin-image {
    grid-area: img;
    max-width: 120px;

    // In case plugin-image is a <picture>, make the img a proper size
    >img {
      width: 100%;
    }
  }
}
