<div id="main-column" grid="column">
  <header column>
    <div grid="row center">
      <div column="6">
        <h1><%= get_conf(:site_name) %> Battle Mode</h1>
      </div>

      <div column="3">
        <button id="add-user-button">Add User</button>
        <button id="start-battle-button">Start Battle</button>
      </div>

      <div column="3">
        <div id="log"></div>
      </div>
    </div>
  </header>

  <main id="battle-grid" column></main>
</div>
