<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Code::Stats has died</title>
  </head>
  <body>
    <h1>500 Internal server error</h1>
    <p>
      The server some kind of exploded.
    </p>
  </body>
</html>
