<div class="stripe">
  <h1>Machine: <%= @machine.name %></h1>

  <%= form_for(@changeset, Routes.machine_path(@conn, :edit, @machine.id), fn f -> %>
    <label for="machine_name" class={if f.errors[:name], do: "has-error", else: ""}>
      Name (required)
    </label>

    <div class="input">
      <%= text_input(f, :name, required: true, maxlength: machine_name_max_length()) %>
      <.form_error form={f} field={:name} />
    </div>

    <div class="submit"><%= submit("Edit machine", class: "btn btn-primary") %></div>
  <% end) %>

  <p>
    <a class="btn btn-default" href={Routes.machine_path(@conn, :list)}>
      &laquo; Back to machine list
    </a>
  </p>
</div>
