@import 'bootstrap';

// Space out content a bit
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .container{
    max-width: 800px;
  }
}

// Phoenix flash messages
.alert:empty { display: none; }

// Phoenix inline forms in links and buttons
form {
  &.link, &.button {
    display: inline;
  }
}

// Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  height: 60px;
  display: block;
  margin-bottom: 0;
  background-size: 519px 71px;

  >a {
    text-decoration: none;
    color: inherit;
  }
}

// Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

// Main marketing message
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

// Supporting marketing content
.marketing {
  margin: 35px 0;
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  // Remove the padding we set earlier
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}

.machine-action {
  margin-right: 5px;
}

#profile-username {
  display: inline;
}

.profile-detail-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  //display: inline;

  li {
    //display: inline;
    //margin-left: 10px;

    &:before {
      content: "☞ ";
    }
  }
}

// Ticker in the live update for index page
ul.ticker {
  list-style: none;
  font-family: monospace;

  &:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 30%);
    pointer-events: none;
  }
}
