$border-radius: 5px;

div.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;

  background-color: #ddd;
  border-radius: $border-radius;

  display: flex;
  flex-direction: row;

  >span.progress {
    display: block;
    height: 100%;

    &.progress-old {
      background-color: lighten(#5cb85c, 5%);
      border-radius: $border-radius 0 0 $border-radius;
    }

    &.progress-recent {
      background-color: lighten(#f0ad4e, 5%);
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  &:not(.stacked) {
    >span.progress {
      border-radius: $border-radius;
    }
  }

  >span.total-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
  }
}
