a.button {
  display: inline-block;
  background-color: getColor(base, primary);
  color: getColor(text, inverted);

  padding: 10px;
  //box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: lighten(getColor(base, primary), 10%);
  }

  &:active {
    background-color: darken(getColor(base, primary), 10%);
  }
}

// Jumbotron that emulate's bootstrap's one, intended to grab the user's attention
.jumbotron {
  padding: 5lh;
}

// Progress bar coloring
.progress-bar {
  height: 0.65lh;

  >span {
    &.progress-old {
      background-color: #5cb85c;
    }

    &.progress-recent {
      background-color: #f0ad4e;
    }
  }
}
