<%#
  Level text that is part of headings. Need to prefix this with "Level" or
  "<language> level".

  Requires:
    @total_xp
    @new_xp
%>
<%= get_level(@total_xp) %>

(<%= format_xp(@total_xp) %>&nbsp;XP)

<%= if @new_xp > 0 do %>
  (+<%= format_xp(@new_xp) %>)
<% end %>
